<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    button{
            background-color: blue;
        }
        button a{
            text-decoration: none;
            color: white;
        }
    </style>
</head>
</head>
<body style="background-color: black;">
    <h1 style="background-color:red;text-align: center;">Hii, I am Harikrishnan K</h1>
    <button><a href="{% url 'home' %}">Go To Home</a></button>
   
</body>

</html>