{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block extra_css %}
   
   

<link rel="stylesheet" href="{% static 'css\home.css' %}">    

{% endblock %}  
{% block content %}
<h1>
    <span class="w1">WELCOME</span>
    <span class="w2">TO</span>
    <span class="w3">BOOK</span>
    <span class="w4">STORE</span>
</h1>
    <!-- <p>{{Name}}  </p>
    <p>{{Age}}</p>
    <p>{{Place}}</p> -->

    <!-- {% for i in a %}
    <p style="font-weight: bold;">{{i}}</p>
    {% endfor %}
    <button><a href="{% url 'viewbook'%}">viewbook</a></button><br>
    <button><a href="{% url 'register'%}">Register</a></button><br>
    <button><a href="{% url 'about' %}">Go To About</a></button><br>
    <button><a href="{% url 'contact'%}">Go To Contact US</a></button><br> -->
  
{% endblock %}


  
 