{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block extra_css %}
   
   
    <style>
    button{
            background-color: blue;
        }
        button a{
            text-decoration: none;
            color: white;
        }
        body{
            background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
        }
    </style>
{% endblock %}  
{% block content %}
    <h1 style="color: blue;text-align:center;font-size:30px;margin-top:220px;"> WELCOME TO BOOK STORE</h1>
    <!-- <p>{{Name}}  </p>
    <p>{{Age}}</p>
    <p>{{Place}}</p> -->

    <!-- {% for i in a %}
    <p style="font-weight: bold;">{{i}}</p>
    {% endfor %}
    <button><a href="{% url 'viewbook'%}">viewbook</a></button><br>
    <button><a href="{% url 'register'%}">Register</a></button><br>
    <button><a href="{% url 'about' %}">Go To About</a></button><br>
    <button><a href="{% url 'contact'%}">Go To Contact US</a></button><br> -->
  
{% endblock %}


  
 