<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
          .hh{
            margin-left: 250px;
            margin-right: 250px;
            margin-top: 50px;
            border: 5px solid blue;
            background-color: aquamarine;
        }
    </style>
</head>
<body style="background-color: white; color:black">

<center>
<div class="hh">
<form method="post" enctype="multipart/form-data">
    {%csrf_token%}
    {{ab.as_p}}
<input type="submit" value="Update Book">
</form>
</div>
</center>
    
</body>
</html>