<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: black;
        }
        table{
            color: beige;
            border-color: rgb(105, 128, 0);
            border-collapse: collapse;
        }
      
        button{
            background-color: red;
        }
        button a{
            text-decoration: none;
            color: white;

            
        }
        a{
            text-decoration: none;
            color: white;
        }
   
        
    </style>
</head>
<body>
    <center>
        <h1 style="color: yellow;">BOOK DETAILS</h1>
        <table border="5">
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Author</th>
                <th>Price</th>
                <th>Publish Date</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
            {% for i in a %}
            <tr>
                <td>{{i.id}}</td>
                <td>{{i.title}}</td>
                <td>{{i.author}}</td>
                <td>{{i.price}}</td>
                <td>{{i.pub_date}}</td>
                <td>{{i.description}}</td>
                <td><a href="{% url 'updatebook' i.id %}">✎</a>
                <!-- <a href="{% url 'deletebook' i.id %}">🗑</a> -->
                <form action="{% url 'deletebook' i.id %}" method="POST" style="display: inline;"
                onsubmit="return confirm('Are you sure you want to delete this book?');">
                {% csrf_token %}
                <button type="submit" style="background:none; border:none; color:red;">
                🗑 </button>
                </form>
            
            </td>
            </tr>
            {% endfor %}
        </table>
        <button><a href="{% url 'home' %}">Go To Home</a></button>
        <button><a href="{% url 'addbook' %}">Add Book</a></button>

    </center>
    
</body>
</html>